<h4 class="card-title"><%= link_to post.title, post %></h4>
<!-- RAW kann gefährlich sein genau wie html.safe oder simple_format -->
<p class='tags'><%= raw post.tags.map { |t| link_to t.name, posts_path(tag: t.name) }.join(', ') %></p>
<h6 class="published-date"><%= post.display_day_published %></h6>
<%= link_to post do %>
  <p class="card-text"><%= truncate(post.description, length: 130) %></p>
<% end %>