<% provide(:page_title, 'enjoy your sports') %>
<% provide(:home_active, 'active') %>

<div class="main-boxes"> <!-- wenn medium only 3 einstellen verweist auf _@post.html.erb -->
  <h2><%= link_to 'Die neusten Stories', stories_path, class: "big-link" %></h2>
    <div class="row">
      <%= render @posts.first(4) %>
    </div>
</div>

<div class="background-main">
  <div class="container col-md-12 col-xl-10 col-xl-offset-1">

    <div class="row col-md-6 col-xl-6 col-sm-12">
      <div class="fb-header">
        <h3>Folgt uns auf Facebook damit ihr keine neue Story verpasst!</h3>
      </div>
      <div class="fb center">
      <%= render 'layouts/facebook' %>
      </div>
    </div>

    <div class="row col-md-6 col-xl-6 col-sm-12">
      <div class="instagram-header">
        <h3>Top Bilder und Landschaftserotik auf Instagram!</h3>
      </div>
      <div class="instagram">
      <%= render 'layouts/instagram' %>
      </div>
    </div>

  </div>
</div>

<div class="prod-main">
  <div class="white-prod">
    <div class="container">
      <div class="col-md-4 prod-main-field">
        <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
          <%= image_tag("products/sicherungsbrille/glasses_main_lq.jpg", alt: "Example Image", class: "pic-main-side") %>
        <% end %>
      </div>
      <div class="col-md-8 prod-main-field">
        <div class="block-wide">
    			<h3>Innovatives Sportprodukt des Monats: XXX XXX XXX</h3>
    		</div>
    
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
    
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>
      </div>
      
    </div>
  </div>
  
  <div class="blue-prod">
    <div class="container">
  
      <div class="col-md-8 prod-main-field">
        <div class="block-wide">
    			<h3>Topside kletterbrille</h3>
    		</div>
    
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
    
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>
      </div>
      
      <div class="col-md-4 prod-main-field">
        <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
          <%=image_tag("products/sicherungsbrille/glasses_main_lq.jpg", alt: "Example Image", class: "pic-main-side")%>
        <% end %>
      </div>
      
    </div>
  </div>
  
</div>

<!-- altes -->

<div class="container">
  <div class="mid-matrix">
    
    <div class="heading-matrix"> 
      <div class="text-center">
        <h2>Topside Top 4</h2>
      </div>
    </div>
    
    <div class="matrix-inner-stories"></div>
      <div class="row">
        
        <div class="col-md-6">
          <div class="card">
            <div class="card-topper">
            <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
              <%=image_tag("stories/1.jpg", alt: "Example Image", class: "pic-home-grid")%>
            <% end %>
            </div>
            <div class="card-block">
              <div class="card-title">
                <%= link_to "Das Jubiläum1", impressum_path, class: "home-grid-link2" %>
              </div>
            </div>      
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="card">
            <div class="card-topper">
              <%= link_to root_path do %> 
                <%=image_tag("stories/2.jpg", alt: "Example Image", class: "pic-home-grid")%>
              <% end %>
            </div>
            <div class="card-block">
              <div class="card-title">
                <%= link_to "Das Jubiläum2", impressum_path, class: "home-grid-link2" %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="card">
            <div class="card-topper">
            <%= link_to root_path do %>
              <%=image_tag("stories/3.jpg", alt: "Example Image", class: "pic-home-grid")%>
            <% end %>
            </div>
            <div class="card-block">
              <div class="card-title">
                <%= link_to "Das Jubiläum3", impressum_path, class: "home-grid-link2" %>
              </div>
            </div>     
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="card">
            <div class="card-topper">
            <%= link_to root_path do %>
              <%=image_tag("stories/10.jpg", alt: "Example Image", class: "pic-home-grid")%>
            <% end %>
            </div>
            <div class="card-block">
              <div class="card-title">
                <%= link_to "Das Jubiläum4", impressum_path, class: "home-grid-link2" %>
              </div>
            </div>      
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>