<% provide(:page_title, 'Story-Time') %>
<% provide(:page_title2, @post.tags.map { |t| link_to t.name, posts_path(tag: t.name), class:"title-link" }[0]) %>
<% provide(:stories_active, 'active') %>

<div class="row">
  
  <div class="col-md-3 col-lg-3">
    <div class="show-left">
      <h4>Ähnliche beliebte Stories:</h4>
      <%= render @similar.first(1) %>
    </div>
  </div>
  
  <div class="container col-md-9 col-lg-9">
    <div class"post-show">
      
      <div class="header-post-show text-xs-center" style='background-image: url(<%= @post.banner_image_url %>);'>
        
        <h1><%= @post.title %></h1>
      </div>
      
      <div class="tags-show text-xs-center">
        <p class='tags'><%= raw @post.tags.map { |t| link_to t.name, posts_path(tag: t.name) }.join(', ') %></p>
        <h6><%= @post.display_day_published %></h6>
      </div>

      <div class="post-body">
        <%= @post.body.html_safe %>
      </div>
      
      <div class="author-bio text-xs-center">
        <%= image_tag(@post.author.gravatar_image_url) %>
        <h4><%= @post.author.name %></h4>
        <h6 class='bio'><%= @post.author.bio %></h6>
      </div>
      
    </div>
  </div>
</div>