<% provide(:page_title, @post.title) %>
<% provide(:page_title2, @post.tags.map { |t| link_to t.name, posts_path(tag: t.name), class:"title-link" }[0]) %>
<% provide(:stories_active, 'active') %>

<div class="row">
  
  <div class="sw col-md-9 col-lg-9">
    <div class="container ls">
      <div class"post-show">
      
        <div class="header-post-show text-xs-center" style='background-image: url(<%= @post.cover %>);'>
          <h1><%= @post.title %></h1>
        </div>
        
        <div class="tags-show text-xs-center">
          <p class='tags'><%= raw @post.tags.map { |t| link_to t.name, posts_path(tag: t.name) }.join(', ') %></p>
          <h6><%= @post.display_day_published %></h6>
        </div>
  
        <div class="post-body">
          <%= @post.body.html_safe %>
        </div>
        
        <div class="btm-show">
          <div class="container">
          <div class="row author-bio col-md-6 col-lg-6 text-xs-center">
            <%= image_tag(@post.author.gravatar_image_url) %>
            <h4><%= @post.author.name %></h4>
            <h6 class='bio'><%= @post.author.bio %></h6>
          </div>
          <div class="row col-md-6 col-lg-6 text-xs-center">
              <h4>Story auf Facebook </h4>
              <a type="button" style="color: white;" class="btn btn-primary" 
              href="" onclick="window.open('http://www.facebook.com/share.php?u=' + 
              encodeURIComponent(location.href))">teilen</a>
          </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="sw col-md-3 col-lg-3">
    <div class="show-right container">
      <div class="beliebt">
        <div class="nav-show">
          <h4>Navigation:</h4>
          <div class="row col-md-12 col-lg-5 col-sm-12 text-xs-center">
            <FORM><INPUT Type="button" VALUE="Zurück" class="btn btn-info" onClick="history.go(-1);return true;"></FORM>
          </div>
          <div class="row col-md-12 col-lg-7 col-sm-12 text-xs-center">
            <%= link_to "Übersicht Stories", stories_path, class: "btn btn-success" %>
          </div>
        </div>
        <div class="u-nav-show">
          <h4>Stories in der gleichen Kategorie:</h4>
          <% if @similar.first(1).count.to_i >= 1 %>
            <%= render @similar.first(3) %>
          <% else %>
            <%= render @posts.second %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
</div>