<div class="home_welcome_text text-center">
  <h2><%= @article.title %></h2>
</div>

<div class="container home-grid">
  <div class="text-center">
    <h2>Body</h2>
      <p>
        <%= @article.text %>
      </p>
  </div>
</div>
<html>
  <div class="show" content="html">
  <%= @article.text %>
  </div>
</html>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>