<% provide(:page_title, 'Produkte') %>
<% provide(:page_title2, 'Produkte') %>
<% provide(:produkte_active, 'active') %>

<div class="background-main text-xs-center">
  <h3>Topside Sport Produkte</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, autem, cupiditate, quidem inventore vel labore earum esse blanditiis numquam molestiae eos nihil explicabo suscipit rem voluptatem fugit sunt ipsam mollitia.</p>
</div>

<div class="prod-main">
  <div class="white-prod">
    <div class="container">
      <div class="row col-md-4 pic-main-field">
        <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
          <%= image_tag("main/white-glasses-main.jpg", alt: "Example Image", class: "pic-main-side") %>
        <% end %>
      </div>
      <div class="row col-md-8 prod-main-field">
        <div class="block-heading">
    			<h3>Topside Sicherungsbrille / Belay Glasses</h3>
    		</div>
        <div class="block-text">
      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
      
      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="blue-prod">
    <div class="container">
  
      <div class="col-md-8 prod-main-field">
        <div class="block-heading">
    			<h3>Brillen Etui für Sonnenbrillen und Sportbrillen: Schwarz</h3>
    		</div>
        <div class="block-text">
      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
      
      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>
        </div>
      </div>
      
      <div class="col-md-4 prod-main-field">
        <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
          <%=image_tag("main/grey-glasses-main.jpg", alt: "Example Image", class: "pic-main-side")%>
        <% end %>
      </div>
      
    </div>
  </div>
  
  <div class="white-prod">
    <div class="container">
      <div class="row col-md-4 pic-main-field">
        <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
          <%= image_tag("main/white-glasses-main.jpg", alt: "Example Image", class: "pic-main-side") %>
        <% end %>
      </div>
      <div class="row col-md-8 prod-main-field">
        <div class="block-heading">
    			<h3>Brillen Etui für Sonnenbrillen und Sportbrillen: Blau</h3>
    		</div>
        <div class="block-text">
      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
      
      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>