<div class="home-callout text-center">
  <h1>ENJOY YOUR SPORT</h1>
</div>

<div class="heading-matrix">
  <div class="text-center">
    <h2>Die neusten Stories</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 bottommargin">
  	<div class="main-boxes">
  		<div class="entry-image">
	       <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
          <%=image_tag("stories/1.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
  		</div>
  		<div class="entry-title">
  			<%= link_to "Wie geht es nur weiter", impressum_path, class: "home-grid-link2" %>
  		</div>
  		<div class="kurz-Inhalt">
  			<p>Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.</p>
  		</div>
  	</div>
  </div>
  
  <div class="col-md-3 col-sm-6 bottommargin">
  	<div class="main-boxes">
  		<div class="entry-image">
	       <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
          <%=image_tag("stories/1.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
  		</div>
  		<div class="entry-title">
  			<%= link_to "Wie geht es nur weiter", impressum_path, class: "home-grid-link2" %>
  		</div>
  		<div class="kurz-Inhalt">
  			<p>Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.</p>
  		</div>
  	</div>
  </div>
  
    <div class="col-md-3 col-sm-6 bottommargin">
  	<div class="main-boxes">
  		<div class="entry-image">
	       <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
          <%=image_tag("stories/1.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
  		</div>
  		<div class="entry-title">
  			<%= link_to "Wie geht es nur weiter", impressum_path, class: "home-grid-link2" %>
  		</div>
  		<div class="kurz-Inhalt">
  			<p>Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.</p>
  		</div>
  	</div>
  </div>
  
    <div class="col-md-3 col-sm-6 bottommargin">
  	<div class="main-boxes">
  		<div class="entry-image">
	       <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
          <%=image_tag("stories/1.jpg", alt: "Example Image", class: "pic-home-grid")%>
        <% end %>
  		</div>
  		<div class="entry-title">
  			<%= link_to "Wie geht es nur weiter", impressum_path, class: "home-grid-link2" %>
  		</div>
  		<div class="kurz-Inhalt">
  			<p>Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.</p>
  		</div>
  	</div>
  </div>

</div>

<div class="welcome">
  <div class="home-welcome-text text-center">
    <div class="header-front">
      Topside Stories und Topside Produkte - hier erfährst du mehr rund um das Thema Sport!<br><br><br>
    </div>
    <div class="under-header-front">
      Wenn du dich für kleine Geschichten rund um das Thema Sport interessiert, schau doch mal bei unseren <%= link_to "Stories", impressum_path, class: "standard-link" %> vorbei. <br><br>
      
      Unsere <%= link_to "innovativen Produkte", produkte_path, class: "standard-link" %> helfen dir bei deinem Sport mehr Spaß zu haben <br><br>
      
      .Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, autem, cupiditate, quidem inventore vel labore earum esse blanditiis numquam molestiae eos nihil explicabo suscipit rem voluptatem fugit sunt ipsam mollitia.</p>
    </div>
  </div>
</div>
<!-- altes -->

<div class="container home-grid">
  <div class="mid-matrix">
    <div class="heading-matrix"> 
      <div class="text-center">
        <h2>Topside Top 4</h2>
      </div>
    </div>
    <div class="matrix-inner-stories"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="well inner-maxtrix-single">
            <nav class="text-center home-inner-grid">
            <%= link_to root_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
              <%=image_tag("stories/1.jpg", alt: "Example Image", class: "pic-home-grid")%>
            <% end %>
            <%= link_to "Wie geht es nur weiter", impressum_path, class: "home-grid-link" %>
            </nav>      
          </div>
        </div>
        <div class="col-md-6">
          <div class="well inner-maxtrix-single">
            <nav class="text-center home-inner-grid">
            <%= link_to root_path do %> 
              <%=image_tag("stories/2.jpg", alt: "Example Image", class: "pic-home-grid")%>
            <% end %>
            <%= link_to "Das Jubiläum", impressum_path, class: "home-grid-link" %>
            </nav>      
          </div>
        </div>
        <div class="col-md-6">
          <div class="well inner-maxtrix-single">
            <nav class="text-center home-inner-grid">
            <%= link_to root_path do %>
              <%=image_tag("stories/3.jpg", alt: "Example Image", class: "pic-home-grid")%>
            <% end %>
            <%= link_to "Top 10 Ficker in Deutschland", impressum_path, class: "home-grid-link" %>
            </nav>      
          </div>
        </div>
        <div class="col-md-6">
          <div class="well inner-maxtrix-single">
            <nav class="text-center home-inner-grid">
            <%= link_to root_path do %>
              <%=image_tag("stories/10.jpg", alt: "Example Image", class: "pic-home-grid")%>
            <% end %>
            <%= link_to "Top 10 Joggerstrecken in Deutschland und der Welt", impressum_path, class: "home-grid-link" %>
            </nav>      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>