<div class="home-callout text-center container-fluid">
  <h1>Produkte</h1>
</div>
<div class="home_welcome_text text-center">
  <h2>Willkommen auf Topside.info</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, autem, cupiditate, quidem inventore vel labore earum esse blanditiis numquam molestiae eos nihil explicabo suscipit rem voluptatem fugit sunt ipsam mollitia.</p>
</div>

<div class="container home-grid">
  <div class="mid-matrix">
    <div class="text-center home-inner-grid">
      <%= link_to sicherungsbrille_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
        <%=image_tag("products/sicherungsbrille/glasses_main_lq.jpg", alt: "Bild konnte leider nicht geladen werden", class: "pic-products-main")%>
      <% end %>
      <%= link_to "Sicherungsbrille / Belay Glasses", sicherungsbrille_path, class: "product-link" %>
    </div> 
  </div>
</div>

<div class="container home-grid">
  <div class="mid-matrix">
    <div class="heading-matrix"> 
      <div class="text-center">
        <h3><%= link_to "Sicherungsbrille / Belay Glasses", sicherungsbrille_path, class: "home-grid-link" %></h3>
      </div>
    </div>
    <div class="matrix-inner-stories"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="well inner-maxtrix-single">
            <nav class="text-center home-inner-grid">
              <%= link_to sicherungsbrille_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
                <%=image_tag("products/sicherungsbrille/glasses_main_lq.jpg", alt: "Bild konnte leider nicht geladen werden", class: "pic-home-grid")%>
              <% end %>
            </nav>      
          </div>
        </div>
        <div class="col-md-6">
          <div class="well inner-maxtrix-single">
            <div class="text-center home-inner-grid">
              <%= link_to sicherungsbrille_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
                <%=image_tag("products/sicherungsbrille/glasses_main_lq.jpg", alt: "Bild konnte leider nicht geladen werden", class: "pic-home-grid")%>
              <% end %>
            </div>      
          </div>
        </div>
        <div class="col-md-6">
          <div class="well inner-maxtrix-single">
            <div class="text-center home-inner-grid">
              <%= link_to sicherungsbrille_path do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
                <%=image_tag("products/sicherungsbrille/glasses_main_lq.jpg", alt: "Bild konnte leider nicht geladen werden", class: "pic-home-grid")%>
              <% end %>
            </div>      
          </div>
        </div>
        <div class="col-md-6">
          <div class="well inner-maxtrix-single">
            <%= link_to "Sicherungsbrille / Belay Glasses", sicherungsbrille_path, class: "home-grid-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container home-grid">
  <div class="mid-matrix">
    <div class="text-center home-inner-grid">
      <%= link_to "https://www.amazon.de/4mate-Premium-Bombilla-Extra-LANG/dp/B01MRUL0F1/ref=sr_1_2?ie=UTF8&qid=1493112741&sr=8-2&keywords=bombilla" do %> <!-- ACHTUNG ENHÄLT 2 LINKS -->
        <%=image_tag("products/sicherungsbrille/glasses_main_lq.jpg", alt: "Bild konnte leider nicht geladen werden", class: "pic-products-main")%>
      <% end %>
      <a href="https://www.amazon.de/4mate-Premium-Bombilla-Extra-LANG/dp/B01MRUL0F1/ref=sr_1_2?ie=UTF8&qid=1493112741&sr=8-2&keywords=bombilla" class="product-link" target="_blank">Brillenetui für Sportbrillen, Sonnenbrillen und optische Brillen</a>
    </div> 
  </div>
</div>