  <%= render 'cookies_eu/consent_banner', link: cookies_path, target: '_blank' %>
  <footer>
    <div class="container">
			<div class="footer_all">
				<div class="row col-md-4">
				  <%=image_tag("logo/logo_inverted.gif", size: "150x38", alt: "Example Image", class: "footer_logo")%>
				  
 					<div class="footer_under_logo">
   					<p>Wir haben das Ziel dich mit unseren Produkten und Stories beim Sport zu unterstützen. So fällt dir der Sport leichter und du hast noch mehr Spaß am Sport. <br><br>
   					<strong>Topside</strong> - <strong>enjoy your sport.</strong></p>
 					</div>
 					
					<div class="admin-bereich">
						<% if author_signed_in? %>
			        <li class="nav-item dropdown author-nav">
			          <a class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			            <%= image_tag(current_author.gravatar_image_url) %>
			            <%= current_author.display_name %>
			          </a>
			          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			            <%= link_to 'My posts', authors_posts_path, class: "dropdown-item" %>
			            <%= link_to 'Account', authors_account_path, class: "dropdown-item" %>
			            <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
			          </div>
			        </li>
			      <% end %>
				    
				    <div class="btn btn-default navbar-btn standard-link">
				      <%= link_to 'Admin Bereich', authors_posts_path, class: "nav-link #{yield(:author)}" %>
				    </div>
					</div>
					
				</div>
			</div>

			<div class="row col-md-4">
				<div class="footer_mid">
					
					<div class="mid-fooder-links">
						<h4>Topside auf amazon</h4>
						<h4><a href="#">aes aseva aeses</a></h4>
					</div>
					<div class="mid-fooder-links">
						<h4>Nützliche Listen</h4>
						<h4><a href="#">aes aseva aeses</a></h4>
					</div>
					<div class="mid-fooder-links">
						<h4>Werde Topside Partner</h4>
						<h4><a href="#">aes aseva aeses</a></h4>
					</div>
					<div class="mid-fooder-links">
						<h4>Du bist Topside Fan - wir freuen uns und unterstützen dich dabei gerne!</h4>
						<h4><a href="#">aes aseva aeses</a></h4>
					</div>

				</div>
			</div>
			
			<div class="row col-md-4 center">
		 		<div class="footer-small-right">
	 			  <%= link_to "Impressum", impressum_path %><br>
	 			</div>
	 			
	 			<div class="footer-small-right">
	 			  <%= link_to "Datenschutzbestimmung", cookies_path %><br>
	 			</div>
	 			
	 			<div class="footer-small-right">
	 			  <a href="https://www.instagram.com/p/RTTaxToOwN/">Folge uns auf Instgram</a><br>
	 			</div>
	 			
	 			<div class="footer-small-right">
					<h4>Folge uns auf Facebook</h4>
					<div class="fb-like" data-href="https://www.facebook.com/Topside-2082532521973737/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
				</div>
				
				<div class="row col-md-4">
					<address>
						<p><strong>Adresse:</strong><br><br>
						<strong>Telefon:</strong><br>
						<strong>Email:</strong>
					
					</address>
				</div>
				<div class="row col-md-8">
					<p>
						Kupferstraße 25,
						70565 Stuttgart <br>
						+49 711 91288697 <br>
						info@topside-sport.de</p>
				</div>
			</div>
		</div>
  </footer>
</html>