<!DOCTYPE html>
<html>
  <head>
    <title>Topside</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'cookies_eu/consent_banner' %>
  </head>

  <body>
    <nav class="header">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class='container'>
          <div class="col-md-6">
            <div class="nav navbar-nav navbar-left">
              <div class="logo">
                <%= link_to root_path do %>
                  <%=image_tag("logo/logo_inverted.gif", size: "200x51", alt: "Example Image", class: "logo2")%>
                <% end %>
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <div class="navbar-header">
                <div class="collapse navbar-collapse" id="main-nav-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Home", root_path %></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stories
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Alle Stories", impressum_path %></li>
                        <li><%= link_to "Neueste Stories", impressum_path %></li>
                        <li><%= link_to "Top Stories", impressum_path %></li>
                      </ul>
                    </li>
                    <li><%= link_to "Produkte", produkte_path %><br></li>
                    <li><%= link_to "Kontakt", new_contact_path %></li>
                  </ul>
                </div>
              </div>
            </div><!-- /.navbar-collapse -->
          </div>
        </div>
      </nav>    
    </nav>
    
    <div class="main-background">
  <!-- Absatz hier sollte irgendwie weg -->  
    <div class="container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
    
    <div class="grund">
      <div class="container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
      <%= yield %> <!-- Grund für jede seite die ganze datei und yield holt den rest der view files> -->
    </div>
    
    </div>
    
    
  </body>
  
  <footer>
    <div class="container">
			<div class="footer_all">
				<div class="col-md-4">
				  <%=image_tag("logo/logo.gif", size: "150x38", alt: "Example Image", class: "footer_logo")%>
				  
 					<div class="footer_under_logo">
   					<p>Wir haben das Ziel dich mit unseren Produkten und Stories beim Sport zu unterstützen. So fällt dir der Sport leichter und du hast noch mehr Spaß am Sport. <br><br>
   					<strong>Topside</strong> - <strong>enjoy your sport.</strong></p>
 					</div>
 					
 					<div class="impressum_footer">
 					  <%= link_to "Impressum", impressum_path %><br>
 					</div>
 					
					<address>
						<strong>Adresse:</strong><br>
						Kupferstraße 25<br>
						70565 Stuttgart<br>
					</address>
						<abbr title="Telefon"><strong>Telefon:</strong></abbr> +49 <br>
						<abbr title="Email:"><strong>Email:</strong></abbr> info@topside-sport.de <br>

					<div class="unten_login">

          </div>
				</div>
			</div>

					<div class="col-md-4 col_last">

						<div class="footer_mid">
							<h4>Instagramm Feed oder letzten Posts</h4>

							<div id="post-list-footer">
								<div class="spost clearfix">
									<div class="entry-c">
										<div class="entry-title">
											<h4><a href="#">aes aseva aeses</a></h4>
										</div>
										<ul class="entry-meta">
											<li>10th July 2014</li>
										</ul>
									</div>
								</div>

								<div class="spost clearfix">
									<div class="entry-c">
										<div class="entry-title">
											<h4><a href="#">Elsfgfdhfgfh fh fdhfg dfghgfdh dfi</a></h4>
										</div>
										<ul class="entry-meta">
											<li>10th July 2014</li>
										</ul>
									</div>
								</div>

								<div class="spost clearfix">
									<div class="entry-c">
										<div class="entry-title">
											<h4><a href="#">eEDedsfgdf dsg dds df dfgzhsi</a></h4>
										</div>
										<ul class="entry-meta">
											<li>10th July 2014</li>
										</ul>
									</div>
								</div>
								
								<div class="btn btn-default navbar-btn standard-link">
						      <%= link_to 'Admin Bereich', class: "btn btn-default navbar-btn", controller: 'articles' %>
						    </div>

							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fb_footer">
              <div class="fb-page" data-href="https://www.facebook.com/Topside-2082532521973737/" 
                data-tabs="timeline" data-width="250" data-height="350" data-small-header="true" 
                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                  <blockquote cite="https://www.facebook.com/Topside-2082532521973737/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/Topside-2082532521973737/">Topside</a>
                  </blockquote>
                </div>
						</div>
					</div>
				</div><!-- .footer-widgets-wrap end -->
			</div>
		</div>
  </footer>
</html>
