<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | Topside</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'cookies_eu/consent_banner' %>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  </head>

  <body>
    
    <%= render 'layouts/navbar' %>
    
    <div class="home-callout">
      <h1><%= yield(:page_title) %></h1>
    </div>
    
    <div class="main-background">
      <div class="container">
        <% if flash.any? %>
          <% flash.keys.each do |key| %>
            <div class="alert alert-<%= key.to_s %> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= flash[key] %>
            </div>
          <% end %>
        <% end %>
      </div>
      
      <div class="grund <%= controller_name %> <%= action_name %>">
  		  <%= yield %> <!-- Grund für jede seite die ganze datei und yield holt den rest der view files> -->
      </div>
      
    </div>
    
    
  </body>
  
  <%= render 'layouts/footer' %>

</html>
